@font-face { font-family: Source Sans Pro; src: url('./fonts/SourceSansPro-Regular.otf'); }
@font-face { font-family: Source Sans Pro; src: url('./fonts/SourceSansPro-Light.otf'); }
@font-face { font-family: Source Sans Pro; src: url('./fonts/SourceSansPro-LightIt.otf'); }
@font-face { font-family: Source Sans Pro; src: url('./fonts/SourceSansPro-BoldIt.otf'); }
@font-face { font-family: Source Sans Pro; src: url('./fonts/SourceSansPro-Bold.otf'); }
@font-face { font-family: SpinCycle; src: url('./fonts/spincycle_ot.otf'); }

body {
    background-image: url(./img/Object.png);
    background-repeat: no-repeat;
    background-size: 1440px 1093px;
    font-family: 'Source Sans Pro';
    color: #F2F2F2;
    margin: 0px;
    width: 1440px
}

main {
    width: 1440px;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    top:35.02px;
    left:171.59px;
    width:1103.41px;
    height: 29.46px;
}

a {text-decoration: none;}  

header a {
    font-family: 'Source Sans Pro';
    color: #F2F2F2;
    font-size: 12px;
}

header .menu {
    height:15px;
    width: 234px;
    display: flex;
    justify-content: space-around;
    place-self: center end;
}

.banner {
    position: relative;
    top: 220px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}

.banner .title120 {
    position: relative;
    left: 377px;
    margin: 0px;
    width: 684px;
    height: 151px;
    font-size: 120px;
    font-weight: 700;
}

.banner .words {
    text-align: center;
    margin: 0;
    word-spacing: 60px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
}

.register {
    position: relative;
    align-items: center;
    top: 40px;
    left: 639.08px;
    width: 162px;
    height: 44px;
    font-size: 14px;
    margin: 0px;
    border: 0px;
    border-radius: 20px;
    padding: 0px;
    color: #FFFFFF;
    background-color: #C271FF;
}

.banner .title32 {
    font-family: "Source sans Pro";
    text-align: center;
    top: 412px;
    left: 562.58px;
    position: absolute;
    margin: 0px;
    height: 40px;
    width: 361px;
    font-size: 32px;
}

span {
    color: #C271FF;
    font-weight: bold;
}

.banner .pros{
    display: flex;
    justify-content: space-between;
    position: relative;
    top: 315px;
    left: 210.08px;
    height: 237px;
    width: 1009px;
}

.banner .pros .pro0, .pro1, .pro2, .pro3 {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 237px;
    height: 150px;
}

.pros p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-style: italic;
    font-weight: 100;
    font-family: 'Source Sans Pro Light';
}

.pros h3 {
    margin: 10px;
    padding: 0px;
    font-size: 18px;
}

.quote {
    display:flex;
    width: 1440px;
    height:392px;
    position: relative;
    top: 611px;
    margin: 0px;
    background-color: #C271FF;
    justify-content: space-around;
    place-self: center end;
}

.quote .img_and_text {
    display: flex;
    justify-content: space-around;
    place-self: center end;
    width: 943px;
}

.quote .text {
    width: 730px;
    height: 158px;
    margin: 0px;
    padding: 0px;
}

.quote .blockquote {
    position:relative;
    width: 730px;
    height: 68px;
    margin: 0px;
    margin-top: 10px;
    font-size: 22px;
    font-family: "Source sans Pro Regular";
    font-weight: lighter;
    
}

.job, .person_name {
    margin: 10px;
    font-weight: normal;
}

.job {
    font-family: "Source sans Pro Light";
}

.tutorials {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: 624px;
    color:black;
    width: 1440px;
    height: 450px;
    margin: 0;
    padding: 0;
    top: 698px;
}

.tutos_title {
    width: 1228px;
    height:115px;
    margin: 0px;
    text-align: center;
    font-family: "Source sans Pro Light";
    font-size: 32px;
}

.tutos_title span {
    font-family: "Source sans Pro Bold";
    font-size: 32px;
}

.videos {
    width: 1228px;
    height: 335px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 335px;
    width: 255px;
}

.tuto_img {
    display: flex;
    width: 255px;
    height: 154px;
    align-items: center;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    z-index: 0;
}

.play {
    display: flex;
    position: absolute;
    width: 64px;
    height: 64px;
    align-items: center;
    top: 163px;
    z-index: 10;
}

.tuto_title {
    font-family: "Source sans Pro Bold";
    font-size: 16px;
    width: 242px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.tuto_text {
    font-family: "Source sans Pro Regular";
    font-size: 14px;
    width: 242px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.Author {
    font-family: "Source sans Pro Semi Bold";
    font-size: 14px;
    width: 242px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.tuto_pic {
    display: flex;
    height: 30px;
    width: 30px;
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 242px;
    margin-top: 8px;
    margin-bottom: 4px;
    justify-content: space-between;
}

.duration {
    font-family: "Source sans Pro Semi Bold";
    font-size: 14px;
    position:relative;
    right: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    color:#C271FF
}

.membership {
    display: flex;
    top: 70px;
    position: relative;
    flex-direction: column;
    align-items: center;
    top: 785px;
    width: 1440px;
    height: 502px;
    background-color: #071629;
}

.member_title {
    position:relative;
    width: 247px;
    height: 40px;
    top:70px;
    font-family: "Source sans Pro";
    font-size: 32px;
    font-weight: 300;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

.member_title span {
    color: #C271FF;
    text-align: center;
    font-family: "Source Sans Pro";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-weight: 700;
}


.large_block {
    position:relative;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    top: 168px;
}

.small_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    width: 257px;
    height: 153px;

}

.small_block h2 {
    width: 256px;
    height: 26px;
    top: 62px;
    margin: 0px;
}

.small_block p{
    width: 212px;
    height: 52px;
    top: 101px;
    margin: 0px;
    color: #FFF;
    text-align: center;
    font-family: Source Sans Pro;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.membership .register {
    position: absolute;
    align-items: center;
    top: 406px;
}

.FAQ {
    width: 1440px;
    height: 707px;
    position: relative;
    top: 1078px;
    margin: 0;
    padding:0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #be2222;
    color: black;
}

.FAQ h1 {
    width: 920px;
    background-color: purple;
}

.row_block {
    display: flex;
    flex-direction: row;
    background-color: darkorange;
}

.item_block {
    display: flex;
    flex-direction: column;
    background-color: cadetblue;
}