@font-face { font-family: Source Sans Pro; src: url('./fonts/SourceSansPro-Bold.otf'); }
@font-face { font-family: SpinCycle; src: url('./fonts/spincycle_ot.otf'); }


body {
    background-image: url(./img/Object.png);
    background-repeat: no-repeat;
    height: 1093px;
    width: 1440px;
    font-family: 'Source Sans Pro';
    color: #F2F2F2;
    margin: 0px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    top:35.02px;
    left:171.59px;
    width:1103.41px;
    height: 29.46px;
}

a {text-decoration: none;}  

header a {
    font-family: 'Source Sans Pro';
    color: #F2F2F2;
    font-size: 12px;
}

header .menu {
    height:15px;
    width: 234px;
    display: flex;
    justify-content: space-around;
    place-self: center end;
}

.banner {
    position: relative;
    top: 193px;
    left: 0px;
    margin: 0px;
    padding: 0px;
}
.banner .top {
    /* background-color: orange; */
}

.banner .title120 {
    position: relative;
    left: 377px;
    margin: 0px;
    width: 684px;
    height: 151px;
    font-size: 120px;
    font-weight: 700;
}

.banner .words {
    text-align: center;
    margin: 0;
    word-spacing: 60px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
}

.banner .pros{
    justify-content: space-between;
    align-items: center;
}

.pros{
    background-color: burlywood;
    top: 758px;
    left: 217px;
    height: 237px;
    width: 1009px;
}

.pros .img_pros {
    background-color: green;
}

.pros p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    font-style: italic;
}

.pros h3 {
    margin: 0px;
    padding: 0px;
    font-size: 18px;
}

.pro0 .pro1 .pro2 .pro3 {
    margin: 0;
    padding: 0;
    max-width: 150px;
    max-height: 237px;
    font-size: 16px;

}

.banner .title32 {
    font-size: 32px;
    background-color: blue;
}